##############################################################################################################################################
# RUSTFS
##############################################################################################################################################


RUSTFS_ACCESS_KEY=3ukdqOX4JiZ1KTpDWOj8
RUSTFS_SECRET_KEY=S11IN7JyOZPrBpdIfX328wFA6tQa5wUKWszDZaUI

