##############################################################################################################################################
# Kafka
##############################################################################################################################################
# Use the server private/public IP that your applications will use to connect to Kafka.
# Example: 172.31.45.210 or your server public IP.
KAFKA_EXTERNAL_HOST=172.31.24.45

# Keep this stable after Kafka has data. Changing it after setup may require data-clean-kafka.
KAFKA_CLUSTER_ID=5L6g3nShT-eMCtK--X86sw


