##############################################################################################################################################
# PostgreSQL
##############################################################################################################################################
POSTGRES_USER=postgres_user_micro_services
POSTGRES_PASSWORD=ffi9F1WeIvxAbB4SunI9hxnSODTAeZck1SXxciHaslIBVfyrXS
POSTGRES_DB=postgres_db_micro_services_backend


